@import '../custom';

.mobile-navbar {
  position: fixed;
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;  
  z-index: 5;
}

.mobile-navbar a {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 16px;
}

.mobile-navbar i {
  color: $white;
  font-size: 20px;
}

.logo-image {
  font-size: larger;
  font-weight: 700;
}

.pop-menu {
  text-align: center;
  background: rgba($color: $black, $alpha: 1.0);
  backdrop-filter: blur(15px);
  display: none;
  height: 100vh;
  mix-blend-mode: multiply;
  padding-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#menu-list {
  display: flex;
  flex-direction: column;
  color: $white;
}

.close-button {
  align-self: flex-end;
  font-size: 46px;
  list-style: none;
  padding-right: 15px;
  border: none;
  background: none;
  color: $white;
}

.pop-menu li a {
  color: $white;
  font-weight: 600;
  font-size: 46px;
  line-height: 110px;
}