@import '../custom';

.mobile-navbar {
  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.mobile-navbar a {
  text-decoration: none;
  color: $white;
}
